/figures/
/figures_v2/
/onestep_mcmc/  

# legacy files
/case_study_1/python/figures/legacy/*
/case_study_1/python/src/legacy/*

/case_study_2/python/figures/legacy/*
/case_study_2/python/src/legacy/*

/case_study_3/python/figures/legacy/*
/case_study_3/python/src/legacy/*

